<!-- app.component.html -->

<header class="d-flex justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fc034e;">
    <div class="container my-2">
      <h1 class="display-1" style="padding: 20px 0; color: white; text-align: center;">Event Booking System</h1>
    </div>
  </nav>
</header>

      <ul class="flex ml-auto space-x-4">
        <li>
          <a class="text-white hover:text-gray-300" routerLink="/event-selection">Event Selection</a>
        </li>
        <li>
          <a class="text-white hover:text-gray-300" routerLink="/date-time-selection">Date and Time Selection</a>
        </li>
        <li>
          <a class="text-white hover:text-gray-300" routerLink="/payment">Payment</a>
        </li>
      </ul>
    

<main>
  <div class="main" style="d-flex justify-content-center align-items-center">
  <router-outlet></router-outlet>
  </div>
</main>

<footer class="bg-gray-900 text-white py-4">
  <div class="container mx-auto text-center" style="text-align: center;">
    <p>&copy; 2023 Event Booking System. All rights reserved.</p>
  </div>
</footer>
